<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiu8.kb.model">

    <application android:theme="@style/AppTheme">
        <activity android:name=".task.ui.KBTaskActivity"/>
        <activity android:name=".account.detail.ui.KBSeekDetailsActivity"/>
        <activity android:name=".mall.KBMallActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>