*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/addfriendbundle/build/intermediates/blame/
/addfriendbundle/build/intermediates/bundles/
/addfriendbundle/build/intermediates/classes/
/addfriendbundle/build/intermediates/classes/debug/
/addfriendbundle/build/intermediates/exploded-aar/com.seek/channel/1.0.0-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.seek.auth/library/1.0.5-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.seek.http/RxOkHttp/2.0-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8/x-cache/0.0.1-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8/x-permission/1.0.6-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8/xiu8-base/0.2.7-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8/XRouter/0.0.3-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8.base.analysis/library/1.0.0-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8.base.errorprocess/errorprocess/1.0.0-03301210-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8.base.scheduler/library/1.0.2-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8.base.util/basic/1.0.4-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/exploded-aar/com.xiu8.logger.library/library/1.0.0-04011017-SNAPSHOT/jars/
/addfriendbundle/build/intermediates/incremental/
/addfriendbundle/build/intermediates/incremental-safeguard/
/addfriendbundle/build/intermediates/manifests/
/addfriendbundle/build/intermediates/res/
/addfriendbundle/build/intermediates/symbols/
/addfriendbundle/build/intermediates/transforms/
/addfriendbundle/build/outputs/
/hotchatbundle/build/intermediates/blame/
/hotchatbundle/build/intermediates/bundles/
/hotchatbundle/build/intermediates/classes/
/hotchatbundle/build/intermediates/classes/debug/
/hotchatbundle/build/intermediates/incremental/
/hotchatbundle/build/intermediates/incremental-safeguard/
/hotchatbundle/build/intermediates/manifests/
/hotchatbundle/build/intermediates/res/
/hotchatbundle/build/intermediates/symbols/
/hotchatbundle/build/intermediates/transforms/
/hotchatbundle/build/outputs/
/hotchatmodule/build/intermediates/blame/
/hotchatmodule/build/intermediates/bundles/
/hotchatmodule/build/intermediates/classes/
/hotchatmodule/build/intermediates/classes/debug/
/hotchatmodule/build/intermediates/exploded-aar/com.seek.call/call/0.0.4-SNAPSHOT/jars/
/hotchatmodule/build/intermediates/incremental/
/hotchatmodule/build/intermediates/incremental-safeguard/
/hotchatmodule/build/intermediates/manifests/
/hotchatmodule/build/intermediates/res/
/hotchatmodule/build/intermediates/symbols/
/hotchatmodule/build/intermediates/transforms/
/hotchatmodule/build/outputs/
/IMKit/build/intermediates/blame/
/IMKit/build/intermediates/bundles/
/IMKit/build/intermediates/classes/
/IMKit/build/intermediates/classes/debug/
/IMKit/build/intermediates/incremental/
/IMKit/build/intermediates/incremental-safeguard/
/IMKit/build/intermediates/jniLibs/
/IMKit/build/intermediates/manifests/
/IMKit/build/intermediates/res/
/IMKit/build/intermediates/symbols/
/IMKit/build/intermediates/transforms/
/IMKit/build/outputs/
/IMLib/build/intermediates/blame/
/IMLib/build/intermediates/bundles/
/IMLib/build/intermediates/classes/
/IMLib/build/intermediates/classes/debug/
/IMLib/build/intermediates/incremental/
/IMLib/build/intermediates/incremental-safeguard/
/IMLib/build/intermediates/jniLibs/
/IMLib/build/intermediates/manifests/
/IMLib/build/intermediates/res/
/IMLib/build/intermediates/symbols/
/IMLib/build/intermediates/transforms/
/IMLib/build/outputs/
/imlibrary/build/intermediates/blame/
/imlibrary/build/intermediates/bundles/
/imlibrary/build/intermediates/classes/
/imlibrary/build/intermediates/classes/debug/
/imlibrary/build/intermediates/incremental/
/imlibrary/build/intermediates/incremental-safeguard/
/imlibrary/build/intermediates/manifests/
/imlibrary/build/intermediates/res/
/imlibrary/build/intermediates/symbols/
/imlibrary/build/intermediates/transforms/
/imlibrary/build/outputs/
/ksy/build/intermediates/blame/
/ksy/build/intermediates/bundles/
/ksy/build/intermediates/classes/
/ksy/build/intermediates/classes/debug/
/ksy/build/intermediates/incremental/
/ksy/build/intermediates/incremental-safeguard/
/ksy/build/intermediates/jniLibs/
/ksy/build/intermediates/manifests/
/ksy/build/intermediates/res/
/ksy/build/intermediates/symbols/
/ksy/build/intermediates/transforms/
/ksy/build/outputs/
/loginbundle/build/intermediates/blame/
/loginbundle/build/intermediates/bundles/
/loginbundle/build/intermediates/classes/
/loginbundle/build/intermediates/classes/debug/
/loginbundle/build/intermediates/incremental/
/loginbundle/build/intermediates/incremental-safeguard/
/loginbundle/build/intermediates/manifests/
/loginbundle/build/intermediates/res/
/loginbundle/build/intermediates/symbols/
/loginbundle/build/intermediates/transforms/
/loginbundle/build/outputs/
/mediabundle/build/intermediates/blame/
/mediabundle/build/intermediates/bundles/
/mediabundle/build/intermediates/classes/
/mediabundle/build/intermediates/classes/debug/
/mediabundle/build/intermediates/incremental/
/mediabundle/build/intermediates/incremental-safeguard/
/mediabundle/build/intermediates/manifests/
/mediabundle/build/intermediates/res/
/mediabundle/build/intermediates/symbols/
/mediabundle/build/intermediates/transforms/
/mediabundle/build/outputs/
/msgbundle/build/intermediates/blame/
/msgbundle/build/intermediates/bundles/
/msgbundle/build/intermediates/classes/
/msgbundle/build/intermediates/classes/debug/
/msgbundle/build/intermediates/exploded-aar/com.xiu8/Seek_Media/0.2.3-SNAPSHOT/jars/
/msgbundle/build/intermediates/exploded-aar/com.xiu8.media/LiteAVSDK_UGC/4.6.4218-SNAPSHOT/jars/
/msgbundle/build/intermediates/incremental/
/msgbundle/build/intermediates/incremental-safeguard/
/msgbundle/build/intermediates/manifests/
/msgbundle/build/intermediates/res/
/msgbundle/build/intermediates/symbols/
/msgbundle/build/intermediates/transforms/
/msgbundle/build/outputs/
/prombundle/build/intermediates/blame/
/prombundle/build/intermediates/bundles/
/prombundle/build/intermediates/classes/
/prombundle/build/intermediates/classes/debug/
/prombundle/build/intermediates/incremental/
/prombundle/build/intermediates/incremental-safeguard/
/prombundle/build/intermediates/manifests/
/prombundle/build/intermediates/res/
/prombundle/build/intermediates/symbols/
/prombundle/build/intermediates/transforms/
/prombundle/build/outputs/
/prommodule/build/intermediates/blame/
/prommodule/build/intermediates/bundles/
/prommodule/build/intermediates/classes/
/prommodule/build/intermediates/classes/debug/
/prommodule/build/intermediates/incremental/
/prommodule/build/intermediates/incremental-safeguard/
/prommodule/build/intermediates/manifests/
/prommodule/build/intermediates/res/
/prommodule/build/intermediates/symbols/
/prommodule/build/intermediates/transforms/
/prommodule/build/outputs/
/publiclibrary/build/intermediates/blame/
/publiclibrary/build/intermediates/bundles/
/publiclibrary/build/intermediates/classes/
/publiclibrary/build/intermediates/classes/debug/
/publiclibrary/build/intermediates/incremental/
/publiclibrary/build/intermediates/incremental-safeguard/
/publiclibrary/build/intermediates/jniLibs/
/publiclibrary/build/intermediates/manifests/
/publiclibrary/build/intermediates/res/
/publiclibrary/build/intermediates/symbols/
/publiclibrary/build/intermediates/transforms/
/publiclibrary/build/outputs/
/publicresource/build/intermediates/blame/
/publicresource/build/intermediates/bundles/
/publicresource/build/intermediates/classes/
/publicresource/build/intermediates/classes/debug/
/publicresource/build/intermediates/incremental/
/publicresource/build/intermediates/incremental-safeguard/
/publicresource/build/intermediates/manifests/
/publicresource/build/intermediates/res/
/publicresource/build/intermediates/symbols/
/publicresource/build/intermediates/transforms/
/publicresource/build/outputs/
/recommendbundle/build/intermediates/blame/
/recommendbundle/build/intermediates/bundles/
/recommendbundle/build/intermediates/classes/
/recommendbundle/build/intermediates/classes/debug/
/recommendbundle/build/intermediates/incremental/
/recommendbundle/build/intermediates/incremental-safeguard/
/recommendbundle/build/intermediates/manifests/
/recommendbundle/build/intermediates/res/
/recommendbundle/build/intermediates/symbols/
/recommendbundle/build/intermediates/transforms/
/recommendbundle/build/outputs/
/reportmodule/build/intermediates/blame/
/reportmodule/build/intermediates/bundles/
/reportmodule/build/intermediates/classes/
/reportmodule/build/intermediates/classes/debug/
/reportmodule/build/intermediates/incremental/
/reportmodule/build/intermediates/incremental-safeguard/
/reportmodule/build/intermediates/manifests/
/reportmodule/build/intermediates/res/
/reportmodule/build/intermediates/symbols/
/reportmodule/build/intermediates/transforms/
/reportmodule/build/outputs/
/searchbundle/build/intermediates/blame/
/searchbundle/build/intermediates/bundles/
/searchbundle/build/intermediates/classes/
/searchbundle/build/intermediates/classes/debug/
/searchbundle/build/intermediates/incremental/
/searchbundle/build/intermediates/incremental-safeguard/
/searchbundle/build/intermediates/manifests/
/searchbundle/build/intermediates/res/
/searchbundle/build/intermediates/symbols/
/searchbundle/build/intermediates/transforms/
/searchbundle/build/outputs/
/systemmodule/build/intermediates/blame/
/systemmodule/build/intermediates/bundles/
/systemmodule/build/intermediates/classes/
/systemmodule/build/intermediates/classes/debug/
/systemmodule/build/intermediates/exploded-aar/com.xiu8/MZBanner/0.0.1-SNAPSHOT/jars/
/systemmodule/build/intermediates/incremental/
/systemmodule/build/intermediates/incremental-safeguard/
/systemmodule/build/intermediates/manifests/
/systemmodule/build/intermediates/res/
/systemmodule/build/intermediates/symbols/
/systemmodule/build/intermediates/transforms/
/systemmodule/build/outputs/
/updatebundle/build/intermediates/blame/
/updatebundle/build/intermediates/bundles/
/updatebundle/build/intermediates/classes/
/updatebundle/build/intermediates/classes/debug/
/updatebundle/build/intermediates/incremental/
/updatebundle/build/intermediates/incremental-safeguard/
/updatebundle/build/intermediates/manifests/
/updatebundle/build/intermediates/res/
/updatebundle/build/intermediates/symbols/
/updatebundle/build/intermediates/transforms/
/updatebundle/build/outputs/
/userbundle/build/intermediates/blame/
/userbundle/build/intermediates/bundles/
/userbundle/build/intermediates/classes/
/userbundle/build/intermediates/classes/debug/
/userbundle/build/intermediates/exploded-aar/com.xiu8/xiu8-oss/0.0.1-SNAPSHOT/jars/
/userbundle/build/intermediates/incremental/
/userbundle/build/intermediates/incremental-safeguard/
/userbundle/build/intermediates/manifests/
/userbundle/build/intermediates/res/
/userbundle/build/intermediates/symbols/
/userbundle/build/intermediates/transforms/
/userbundle/build/outputs/
/usermodule/build/intermediates/blame/
/usermodule/build/intermediates/bundles/
/usermodule/build/intermediates/classes/
/usermodule/build/intermediates/classes/debug/
/usermodule/build/intermediates/incremental/
/usermodule/build/intermediates/incremental-safeguard/
/usermodule/build/intermediates/manifests/
/usermodule/build/intermediates/res/
/usermodule/build/intermediates/symbols/
/usermodule/build/intermediates/transforms/
/usermodule/build/outputs/
/web/build/intermediates/blame/
/web/build/intermediates/bundles/
/web/build/intermediates/classes/
/web/build/intermediates/classes/debug/
/web/build/intermediates/exploded-aar/com.seek.adapter/adapter/1.0.1-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.seek.banner/banner/1.0.3-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.seek.swipemenu/swipemenu/1.0.2-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.seek.zxing/zxing/1.0.9-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.xiu8/Media_lib/0.0.5-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.xiu8/RecordView/0.0.4-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.xiu8.base.ximageloader/ximageloader/1.3.0-06291846-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.xiu8.picker/picker/1.1.0-06261640-SNAPSHOT/jars/
/web/build/intermediates/exploded-aar/com.xiu8.ximageview/ximageview/1.1.0-06092018-SNAPSHOT/jars/
/web/build/intermediates/incremental/
/web/build/intermediates/incremental-safeguard/
/web/build/intermediates/manifests/
/web/build/intermediates/res/
/web/build/intermediates/symbols/
/web/build/intermediates/transforms/
/web/build/outputs/