<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seek.contacts.module">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".contacts.view.ContactsFindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateVisible" />
    </application>

</manifest>